body {
    padding: 0;
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

header {
    height: 120px;
    background-color: rgb(16, 0, 79);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
}

main {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background-color: rgb(16, 0, 79);
    border-radius: 20px;
    color: white;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    color: rgb(232, 17, 75);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 254px;
}

.informacoes {
    display: block;
    border: 1px solid rgb(232, 17, 75);
    border-radius: 3px;
    width: 150px;
    height: 18px;


}

.botao {
    background-color: rgb(232, 17, 75);
    color: rgb(236, 237, 239);
    text-decoration: none;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 20px;
}


footer {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 0, 79);
    background-color: rgb(236, 237, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    color: rgb(232, 17, 75);
    transition: all 0.3s;
    transform: scale(1.1);
    text-decoration: underline;

}

button:hover {
    cursor: pointer;
    background-color: rgb(236, 237, 239);
    border: 1.5px solid rgb(232, 17, 75);
    color: rgb(232, 17, 75);
    transition: all 0.4s;
    transform: scale(1.);
    text-decoration: underline;
}